@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/logo_brand');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-content p{
    color: whitesmoke;
    font-size: 1.2rem;
    font-family: 'Kelly Slab', sans-serif;
    font-weight: 600;
    margin-top: 0;
    margin-bottom:1rem;
    cursor: pointer;
    width: 20%;
}
.hero-content p:hover
{
    font-size: 1.5rem;
    color: aqua;
    outline: 1px white;
}
.hero-content {
    display: flex;
    flex: 1;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    position: relative;
    margin-left: 2rem;
}
.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 210px;
    height: 30px;
    border-radius: 75px;
    color: black;
    font-size: 22px;
    font-weight: 500;
    text-decoration: underline;
    /* margin-left:55rem; */
    position: absolute;
    margin-top: 30rem;
}
.hero-latest-btn:hover
{
    font-style: italic;
    border: 2px solid white ;
    background-color: transparent;

}
.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    color:white;
    position: relative;
}
.header-right {
    margin-bottom: 20rem;
    font-family: 'Kelly Slab', sans-serif;
    text-shadow: 3px 3px 0 black;
    position: absolute;
}
.header-right h1{
    font-size: 6rem;
}
.header-right h2{
    font-size: xxx-large;
}
.hero-right-content ul
{
    font-size: 1rem;
    text-shadow: 3px 3px 0 black;
}


@media (max-width: 768px) {
    .hero-right img {
        max-height: 60vh;
    }

    .hero-left-image img {
        max-height: 60vh;
        margin-right: 10rem;
    }
}
